body {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
  background-color: #fafafa;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: "Montserrat", serif;
  cursor: pointer;
}
.orange {
  color: #fd9222;
}
/* common */
.section {
  background-color: #fafafa;
}
.container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #region Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  padding: 30px 0;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-right: 4px;
}

.logo-style {
  font-style: normal;
}

.icon-chocolate {
  margin-right: 447px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 90px;
}

.nav-link {
  display: block;
  padding: 30px 0;
  font-weight: 500;
  line-height: 1.14;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  position: relative;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #fd9222;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #fd9222;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 0);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.social-links-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icon {
  padding: 30px 0;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 0);
}

.social-icon:hover,
.social-icon:focus {
  stroke: #fd9222;
}

.social-icon {
  stroke: #111;
  fill: transparent;
}
/* #endregion Header */

/* #region Hero section*/
.hero {
  max-width: 1200px;
  margin: 0 auto;
  background: #1e1823;
  padding-top: 375px;
  padding-bottom: 46px;
  margin-bottom: 72px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/chocolate-covered-cocoa-powder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  max-width: 1086px;
  padding: 0 72px;
}

.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button {
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  min-width: 144px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-link-made {
  display: block;
  padding: 14px 40px;
  max-width: 183px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-made:hover,
.hero-link-made:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
  background-color: #fff;
}

.hero-link-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-down:hover,
.hero-link-down:focus {
  color: #fd9222;
}

.icon-vector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-vector-container:hover,
.icon-vector-container:focus {
  background-color: #fd9222;
  transform: rotate(-90deg);
}

.icon-vector {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-vector:hover,
.icon-vector:focus {
  fill: #fafafa;
}
/* #endregion Hero section*/

/* #region Benefits section */
.benefits-section {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 88px;
  padding: 0 35px;
}

.benefits-list-item {
  flex-basis: calc((100% - 172px) / 3);
  position: relative;
  width: 326px;
  height: 244px;
}

.benefits-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  top: 50%;
  left: 85%;
  transform: rotate(-90deg);
}

.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-icon {
  fill: #fd9222;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  color: rgba(255, 255, 255, 0.7);
  max-width: 308px;
}

/* #endregion Benefits section */

/* #region Ingredients */
.ingredients-section {
  margin-bottom: 100px;
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 411px;
  margin: 0 auto 28px auto;
}

.ingredients-text {
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px auto;
}

.ingredients-list {
  display: flex;
  align-items: center;
  gap: 19px;
}

.ingredients-list-item {
  flex-basis: calc((100% - 19 * 3px) / 4);
  border-radius: 15px;
  padding: 28px 32px;
}

.ingredients-list-item:nth-child(even) {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 1) {
  background: #fd9222;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

/* .ingredients-list-item {
  background-color: #fff;
  flex-basis: ((100% - 19 * 3px) /4);
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
}

.ingredients-list-item:nth-child(4n + 1) {
  background: #fd9222;
  border: none;
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: none;
} */

.ingredients-image {
  margin-bottom: 36px;
}

.ingredients-item-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

.black-desc {
  color: #111;
}

.ingredients-list-item {
  position: relative;
  overflow: hidden;
}

.ingredients-list-item:hover .overlay-container {
  opacity: 1;
  transform: translateX(0);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  overflow: auto;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  max-width: 214px;
  margin-bottom: 8px;
}

.overlay-button-list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-button {
  display: block;
  border-radius: 35px;
  min-width: 81px;
  height: 24px;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}

.overlay-button-benefits {
  display: block;
  border: 1px solid #fd9222;
  border-radius: 35px;
  min-width: 93px;
  height: 24px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
}
.overlay-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
  max-width: 200px;
}

/* #endregion Ingredients */

/* #region How it's made? */
.made-section {
  margin-bottom: 100px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}

.made-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.made-image {
  border-radius: 15px;
  max-width: 600px;
}

.made-description-container {
  max-width: 516px;
  border-radius: 15px;
  height: 336px;
  background-color: #fff;
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}

.made-list-item {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.made-list-item:last-child {
  margin-bottom: 0;
}

.made-icon-disk {
  flex-shrink: 0;
}

.made-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
  max-width: 436px;
}
/* #endregion How it's made? */

/* #region Chocolate is loved */
.chocolate-section {
  margin-bottom: 100px;
}

.chocolate-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 90px;
}

.chocolate-list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 50px;
}

.chocolate-list-item {
  flex-basis: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  position: relative;
}

.chocolate-image {
  padding-left: 140px;
  padding-right: 140px;
  position: absolute;
  top: -40px;
}

.chocolate-item-title {
  margin-top: 54px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.chocolate-item-text {
  text-align: center;
  max-width: 312px;
  color: rgba(17, 17, 17, 0.7);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.chocolate-button {
  display: block;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chocolate-button:hover,
.chocolate-button:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion Chocolate is loved */

/* #region Footer */
.footer {
  background-color: #1e1823;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
  margin-bottom: 24px;
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
  margin-bottom: 14px;
}

.footer-address-item {
  margin-bottom: 4px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #fd9222;
}

.footer-bottom-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 50px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 86px;
}
.nav-footer .item-nav-link {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-footer .item-nav-link:hover,
.nav-footer .item-nav-link:focus {
  color: #fd9222;
}
.footer-form-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.footer-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-form-input:focus {
  border-color: #fd9222;
}

.subscribe-button {
  border-radius: 100px;
  padding: 17px 32px;
  width: 137px;
  height: 52px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

/* #endregion Footer */

/* #region modal-window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9;
  background-color: rgba(30, 24, 35, 0.4);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: pointer-events, visibility, opacity;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-container-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background: #fafafa;
  padding: 38px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translateY(-50%);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
  stroke: #1e1823;
  /* z-index: 1; */
  transition: stroke 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-btn:focus,
.close-btn:hover {
  stroke: #fd9222;
}

.modal-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  max-width: 298px;
  margin-bottom: 42px;
}

.modal-container-block {
  margin-bottom: 18px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: transparent;
  padding-left: 62px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgb(64, 64, 64);
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  cursor: pointer;
}

.modal-form-input:focus {
  border: 1px solid #fd9222;
}

.modal-form-input:focus + .form-icon {
  stroke: #fd9222;
}

.cont-user-text {
  margin-bottom: 25px;
}

.user-comment {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 436px;
  height: 137px;
  resize: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgb(64, 64, 64);
}

.user-comment::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.user-comment:focus {
  border: 1px solid #fd9222;
  outline: transparent;
}

.checkbox-label {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.checkbox-label .privacy-link {
  text-decoration: underline;
  color: #fd9222;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  /* margin-bottom: 40px; */
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.checkbox:checked + .checkbox-label > .custom-checkbox {
  border: transparent;
  fill: #00ffff;
  background-color: #fd9222;
}

.form-send-button {
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background-color: #fd9222;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
/* #endregion modal-window */
